body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Change from center to flex-start */
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    margin: 20px 0; /* Add top and bottom margin */
}

#login-btn {
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #1DB954;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}

#artist-search, #search-btn {
    margin: 10px;
}

#chartContainer {
    width: 800px;
    height: 600px;
    margin-top: 20px; /* Add top margin */
}
